<div class="row">
  <div class="col-sm-1 hidden-xs">
    <div class="thumbnail">
      <%= image_tag comment.user.profile.image.url(:thumb), :class => "img-responsive user-photo" %>
    </div><!-- /thumbnail -->
  </div><!-- /col-sm-1 -->

  <div class="col-sm-11 col-md-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= comment.user.profile.username %>&nbsp;|&nbsp;</strong><span class="text-muted"><%= comment.created_at %></span>
        <%= link_to 'Löschen', comment_destroy_path(:id => comment.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'pull-right' %>
      </div>
      <div class="panel-body">
        <%= simple_format(comment.text, {}, wrapper_tag: "div") %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div><!-- /row -->