<div class="row">
  <div class="col-sm-1 hidden-xs">
    <div class="thumbnail">
      <% if !comment.user.nil? %>
          <% if !comment.user.profile.nil? %>
              <%= image_tag comment.user.profile.image.url(:thumb), :class => "img-responsive user-photo" %>
          <% else %>
              <img class="img-responsive user-photo" src="/images/profile/unknown.png" alt="Unknown"/>
          <% end %>
      <% else %>
          <img class="img-responsive user-photo" src="/images/profile/unknown.png" alt="Unknown"/>
      <% end %>
    </div><!-- /thumbnail -->
  </div><!-- /col-sm-1 -->

  <div class="col-sm-11 col-md-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <% if !comment.user.nil? %>
              <% if !comment.user.profile.nil? %>
                  <%= comment.user.profile.username %>
              <% else %>
                  <%= comment.user.email %>
              <% end %>
          <% else %>
              <%= t('views.comment.comment.user_deleted') %>
          <% end %>
          &nbsp;|&nbsp;</strong><span class="text-muted"><%= comment.created_at.strftime("%d %b. %Y um %H:%M ") %></span>
        <% if (!showAdmin) && (user_signed_in?) %>
            <% if (current_user.id != comment.user_id) && (!comment.notify?) %>
                <%= link_to t('views.comment.comment.button_notify'), comment_notify_path(:id => comment.id), method: :put,
                            data: {confirm: t('views.comment.comment.confirm_notify')}, :class => 'pull-right' %>
            <% elsif (current_user.id == comment.user_id) %>
                <%= link_to t('views.comment.comment.button_delete'), comment_destroy_path(:id => comment.id), method: :delete,
                            data: {confirm: t('views.comment.comment.confirm_delete')}, :class => 'pull-right' %>
            <% end %>
        <% end %>
      </div>
      <div class="panel-body">
        <%= simple_format(comment.text, {}, wrapper_tag: "div") %>
        <br/>
        <% if comment.notify? %>
            <div class="alert alert-warning" role="alert"><%= t('views.comment.comment.alert_notify') %></div>
        <% end %>
        <% if showAdmin %>
            <%= link_to t('views.comment.comment.button_reset'), comment_reset_notify_path(:id => comment.id), method: :put, :class => 'btn btn-default' %>
            <%= link_to t('views.comment.comment.button_delete'), comment_destroy_path(:id => comment.id, :redirect => 'admin'), method: :delete,
                        data: {confirm: t('views.comment.comment.confirm_delete')}, :class => 'btn btn-danger' %>
        <% end %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div><!-- /row -->