<hr/>
<%= form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <% if !@profile.nil? && !@profile.new_record? %>
          <%= image_tag @profile.image.url(:medium), :class => "img-center img-rounded profile" %>
      <% end %>
      <br/>
      <br/>
      <%= f.file_field :image %>
      <hr/>
    </div>


    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, :class => "form-control" %>
    <br/>

    <%= f.label :firstname %>
    <%= f.text_field :firstname, autofocus: true, :class => "form-control" %>
    <br/>

    <%= f.label :lastname %>
    <%= f.text_field :lastname, autofocus: true, :class => "form-control" %>
    <br/>

    <br/>
    <%= f.submit "Update", :class => "btn btn-primary btn-block" %>
<% end %>