<% @page_title = "User" %>
<div class="container form-signin">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <h2 class="form-signin-heading">Kontoeinstellungen</h2>
      <hr/>
      <%= devise_error_messages! %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
      <br/>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <br/>
      <% end %>
      <%= f.label :password %> <i>(freilassen, wenn du es nicht ändern willst.)</i><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      <br/>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
      <br/>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
      <br/>
      <%= f.submit "Aktualisieren", :class => "btn btn-primary btn-block"%>
      <% end %>
      <hr/>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal">
        Konto löschen
      </button>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" data-keyboard="false" role="dialog" data-backdrop="static"  aria-labelledby="deleteModalLabel">
  <div class="modal-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Meldung</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger text-center"><strong>Willst du wirklich dein Konto löschen?!</strong></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
        <%= button_to "Konto löschen", registration_path(resource_name), method: :delete, :class => "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>