<% @page_title = "Verwaltung" %>

<div class="row page-header">
  <div class="col-md-10">
    <h2><%= t('views.admin.games.header') %></h2>
  </div>
  <div class="col-md-2">
        <%= link_to t('views.admin.games.button_new'), new_game_path, :class => "btn btn-default" %>
  </div>
</div>

<% if !@games.nil? %>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th><%= t('views.admin.games.th_game') %></th>
          <th class="hidden-xs"><%= t('views.admin.games.th_developer') %></th>
          <th class="hidden-xs"><%= t('views.admin.games.th_releasedate') %></th>
          <th class=""></th>
        </tr>
        </thead>
        <tbody>
        <% i = 0 %>
        <% @games.each do |game | %>
            <% i = i + 1 %>
            <tr>
              <td class="xs-cut-word"><%= game.title %></td>
              <td class="hidden-xs"><%= game.developer %></td>
              <td class="hidden-xs"><%= l game.releasedate, format: :default %></td>
              <td class="text-right">
                <%= link_to t('views.admin.games.button_edit'), edit_game_path(game) %> |
                <%= link_to t('views.admin.games.button_delete'), game, method: :delete, data: { confirm: t('views.admin.games.confirm_delete') } %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>
