<% @page_title = "Verwaltung" %>

<div class="page-header">
  <h2><%= t('views.admin.users.header') %></h2>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th><%= t('views.admin.users.th_user') %></th>
      <th class="hidden-xs"><%= t('views.admin.users.th_username') %></th>
      <th class="hidden-xs"><%= t('views.admin.users.th_last_login') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td class="hidden-xs">
            <% if !user.profile.nil? %>
                <%= user.profile.username %>
            <% end %>
          </td>
          <td class="hidden-xs">
            <%= (!user.current_sign_in_at.nil?) ? user.current_sign_in_at.strftime("%d %b. %Y um %H:%M ") : '-' %>
          </td>
          <td class="text-right" >
            <% if (current_user.id != user.id) && (current_user.has_role? :admin) %>
                <%= link_to t('views.admin.users.button_delete'), admin_destroy_user_path(user), method: :delete %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
