<% if !@games.empty? %>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <% if !search %>
              <th class="hidden-xs"><%= t('views.shared.gamestable.rank') %></th>
          <% end %>
          <th><%= t('views.shared.gamestable.game') %></th>
          <th class="hidden-xs"><%= t('views.shared.gamestable.developer') %></th>
          <th class="hidden-xs"><%= t('views.shared.gamestable.releasedate') %></th>
          <th colspan="2"><%= t('views.shared.gamestable.ranking') %></th>
        </tr>
        </thead>
        <tbody>
        <% i = 0 %>
        <% @games.each do |game| %>
            <% i = i + 1 %>
            <tr>
              <% if !search %>
                  <td class="hidden-xs" ><%= i %></td>
              <% end %>
              <td class="xs-cut-word"><%= link_to game.title, game %></td>
              <td class="hidden-xs"><%= game.developer %></td>
              <td class="hidden-xs"><%= l game.releasedate, format: :default %></td>
              <td><%= rating_for game, "GESAMT", {readonly: true} %></td>
              <% if !search %>
                  <td class="hidden-xs" style="width: 50px;"><%= i <= 3 ? '<span class="badge red">TOP</span>'.html_safe : '' %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% elsif search %>
    <h4><%= t('views.shared.gamestable.games_not_found') %></h4>
<% end %>