<% @page_title = "Game" %>
<%= form_for(@game, multipart: true) do |f| %>
  <% if @game.errors.any? %>
    <div class="alert alert-danger" role="alert" id="error_explanation">
      <strong><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</strong>
    </div>
  <% end %>

<div class="page-header">

  <%= link_to t('views.games.form.button_cancel'), admin_games_path, :class => "btn btn-danger" %>

  <%= f.submit t('views.games.form.button_submit'), :class => 'btn btn-primary' %>
</div>
<div class="row">
  <div class="col-md-4">
    <% if !@game.nil? && !@game.new_record? %>
      <%= image_tag @game.image.url(:medium), :class => "img-rounded" %>
    <% end %>
    <br/>
    <br/>
    <%= f. file_field :image %>
  </div>
  <div class="col-md-8">

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :developer %>
      <%= f.text_field :developer, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "form-control", :rows => "5" %>
    </div>

    <div class="form-group">
      <%= f.label :releasedate %>
      <%= f.text_field :releasedate, :class => "form-control datepicker" %>
    </div>

    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :genre %>
      <br/>
      <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
          <div  class="checkbox-inline">
            <%= b.check_box %>
            <%= b.label %>
          </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :platform %>
      <br/>
      <%= f.collection_check_boxes :platform_ids, Platform.all, :id, :name do |b| %>
          <div  class="checkbox-inline">
            <%= b.check_box %>
            <%= b.label %>
          </div>
      <% end %>
    </div>

  </div>
</div>
<% end %>

<script>
  $('.datepicker').datepicker({
    startView: 1,
    language: "de",
    orientation: "bottom left",
    autoclose: true,
    defaultViewDate: { year: 2016, month: 01, day: 01 },
    format: "dd.mm.yyyy"
  })
</script>