<% @page_title = "Game" %>
<%= form_for(@game, multipart: true) do |f| %>
  <% if @game.errors.any? %>
    <div class="alert alert-danger" role="alert" id="error_explanation">
      <strong><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</strong>
      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-12">
    <% if !@game.nil? && !@game.new_record? %>
        <%= link_to 'Abbrechen', game_path, :class => "btn btn-danger" %>
    <% else %>
        <%= link_to 'Abbrechen', games_path, :class => "btn btn-danger" %>
    <% end %>

    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-3">
    <% if !@game.nil? && !@game.new_record? %>
      <%= image_tag @game.image.url(:medium), :class => "img-rounded" %>
    <% end %>
    <br/>
    <br/>
    <%= f. file_field :image %>
  </div>
  <div class="col-md-9">

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :developer %>
      <%= f.text_field :developer, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :releaseDate %>
      <%= f.text_field :releaseDate, :class => "form-control datepicker" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "form-control", :rows => "5" %>
    </div>

    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :genre %>
      <%= f.collection_select :genre_ids, Genre.all, :id, :name, {selected: @game.genre_ids }, multiple: true, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :platform %>
      <%= f.collection_select :platform_ids, Platform.all, :id, :name, {selected: @game.platform_ids }, multiple: true, :class => 'form-control' %>
    </div>

  </div>
</div>
<% end %>

<script>
  $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    startDate: '-30y'
  })
</script>