<div class="row">
  <div class="col-md-12">
    <%= link_to 'Zurück', games_path, :class => "btn btn-default" %> |
    <%= link_to 'Bearbeiten', edit_game_path(@game), :class => "btn btn-warning" %>
    <%= link_to 'Löschen', @game, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <%= image_tag @game.image.url(:medium), :class => "img-rounded img-center" %>
    <hr/>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5"><strong>Spieldesign:</strong></div>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <%= rating_for @game, "SPIELDESIGN", { star: 5, cancel: true, readonly: true } %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5"><strong>Story/Atmosphäre:</strong></div>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <%= rating_for @game, "STORY", { star: 5, cancel: true, readonly: true } %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5"><strong>Umfang:</strong></div>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <%= rating_for @game, "UMFANG", { star: 5, cancel: true, readonly: true } %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2 class="no-margin-top"><%= @game.title %> <br/><small>von <%= @game.developer %></small></h2>
    <%= rating_for @game, "GESAMT",  { readonly: true, targetFormat: '{score}' } %> | <%= render 'myrating' %>
    <br/>
    <br/>
    <p>
      <%= @game.description %>
    </p>
    <strong>Genre:</strong>
    <% @game.genres.each do |g| %>
      <%= g.name %> |
    <% end %>
    <br/>
    <strong>Platform:</strong>
    <% @game.platforms.each do |g| %>
        <%= g.name %> |
    <% end %>
    <br/>
    <br/>
    <%= link_to 'Hier kaufen',  @game.link, :class => "btn btn-default", :target => "blank" %>
  </div>
</div>
<hr/>
<h4>Kommentare</h4>


