<% @page_title = @game.title %>
<br/>
<h2 class="no-margin-top visible-xs-block visible-sm-block"><%= @game.title %> <br/>
  <small>von <%= @game.developer %></small>
</h2>
<div class="row">
  <div class="col-md-4">
    <%= image_tag @game.image.url(:medium), :class => "img-rounded img-center" %>
    <hr/>
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5"><strong><%= t('views.games.show.design') %></strong></div>
      <div class="col-xs-7 col-sm-7 col-md-5">
        <%= rating_for @game, "SPIELDESIGN", {star: 5, cancel: true, readonly: true} %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5"><strong><%= t('views.games.show.story') %></strong></div>
      <div class="col-xs-7 col-sm-7 col-md-5">
        <%= rating_for @game, "STORY", {star: 5, cancel: true, readonly: true} %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5"><strong><%= t('views.games.show.umfang') %></strong></div>
      <div class="col-xs-7 col-sm-7 col-md-5">
        <%= rating_for @game, "UMFANG", {star: 5, cancel: true, readonly: true} %>
      </div>
    </div>
  </div>
  <br class="visible-xs-block visible-sm-block"/>
  <div class="col-md-8">
    <h2 class="no-margin-top hidden-xs hidden-sm"><%= @game.title %> <br/>
      <small>von <%= @game.developer %></small>
    </h2>
    <%= rating_for @game, "GESAMT", {readonly: true} %>
    <%= render 'myrating' %>
    <br/>
    <br/>
    <p>
      <%= @game.description %>
    </p>
    <%= label_tag(t('activerecord.attributes.game.releasedate')) %>
    <%= l @game.releasedate, format: :default %>
    <br/>
    <%= label_tag(t('activerecord.models.genre')) + ": " %>
    <% @game.genres.each_with_index do |g, index| %>
        <% if index == ((@game.genres.length) -1) then %>
            <%= g.name %>
        <% else %>
            <%= g.name + " | " %>
        <% end %>
    <% end %>
    <br/>
    <%= label_tag(t('activerecord.models.platform')) + ": " %>
    <% @game.platforms.each_with_index do |g, index| %>
        <% if index == ((@game.platforms.length) -1) then %>
            <%= g.name %>
        <% else %>
            <%= g.name + " | " %>
        <% end %>
    <% end %>
    <br/>
    <br/>
    <%= link_to t('views.games.show.button_buy'), @game.link, :class => "btn btn-default", :target => "blank" %>
  </div>
</div>
<hr/>
<br/>
<h4><%= t('views.games.show.comments') %> <span class="badge"><%= @game.comments.count %></span></h4>
<br/>
<% if user_signed_in? %>
    <%= render 'comment/new', game_id: @game.id, user_id: current_user.id %>
<% end %>
<%= render partial: 'comment/comment', collection: @game.comments, locals: {showAdmin: false} %>
