<div class="row">
  <div class="col-md-12">
    <%= link_to 'Zurück', games_path, :class => "btn btn-default" %> |
    <%= link_to 'Bearbeiten', edit_game_path(@game), :class => "btn btn-warning" %>
    <%= link_to 'Löschen', @game, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <%= image_tag @game.image.url(:medium), :class => "img-rounded img-center" %>
  </div>
  <div class="col-md-8">
    <h2 class="no-margin-top"><%= @game.title %> <br/><small>von <%= @game.developer %></small></h2>

    <div class="rating">
      <% for i in 1..4 %>
          <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
      <% end %>
      <span class="glyphicon glyphicon-star grew" aria-hidden="true"></span>
    </div>
    <p>
      <%= @game.description %>
    </p>
    <strong>Genre:</strong>
    <% @game.genres.each do |g| %>
      <%= g.name %> |
    <% end %>
    <br/>
    <strong>Platform:</strong>
    <% @game.platforms.each do |g| %>
        <%= g.name %> |
    <% end %>
    <br/>
    <br/>
    <%= link_to 'Hier kaufen',  @game.link, :class => "btn btn-default", :target => "blank" %>
  </div>
</div>
<br/>

<%= render 'comment/new',  game_id: @game.id, user_id: current_user.id  %>

<%= render partial: 'comment/comment', collection: @game.comments %>