<% @page_title = @game.title %>
<br/>
<div class="row">
  <div class="col-md-4">
    <%= image_tag @game.image.url(:medium), :class => "img-rounded img-center" %>
    <hr/>
    <div class="row">
      <div class="col-xs-5 col-sm-12 col-md-5"><strong>Spieldesign:</strong></div>
      <div class="col-xs-7 col-sm-12 col-md-5">
        <%= rating_for @game, "SPIELDESIGN", {star: 5, cancel: true, readonly: true} %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-5 col-sm-12 col-md-5"><strong>Story/Atmosphäre:</strong></div>
      <div class="col-xs-7 col-sm-12 col-md-5">
        <%= rating_for @game, "STORY", {star: 5, cancel: true, readonly: true} %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-5 col-sm-12 col-md-5"><strong>Umfang:</strong></div>
      <div class="col-xs-7 col-sm-12 col-md-5">
        <%= rating_for @game, "UMFANG", {star: 5, cancel: true, readonly: true} %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="visible-xs-block">
      <hr/>
    </div>
    <h2 class="no-margin-top"><%= @game.title %> <br/>
      <small>von <%= @game.developer %></small>
    </h2>
    <%= rating_for @game, "GESAMT", {readonly: true} %>
    <%= render 'myrating' %>
    <br/>
    <br/>
    <p>
      <%= @game.description %>
    </p>
    <strong>ReleaseDate:</strong>
    <%= @game.releaseDate %>
    <br/>
    <strong>Genre:</strong>
    <% @game.genres.each do |g| %>
        <%= g.name %> |
    <% end %>
    <br/>
    <strong>Platform:</strong>
    <% @game.platforms.each do |g| %>
        <%= g.name %> |
    <% end %>
    <br/>
    <br/>
    <%= link_to 'Hier kaufen', @game.link, :class => "btn btn-default", :target => "blank" %>
  </div>
</div>
<hr/>
<br/>
<h4>Kommentare <span class="badge"><%= @game.comments.count %></span></h4>
<br/>
<% if user_signed_in? %>
    <%= render 'comment/new', game_id: @game.id, user_id: current_user.id %>
<% end %>
<%= render partial: 'comment/comment', collection: @game.comments %>
