<% @page_title = "User" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container form-signin">
        <h2 class="form-signin-heading">Anmelden</h2>
        <hr/>
        <%= devise_error_messages! %>
        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
        <br/>
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"  %>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
        <%= f.submit "Anmelden", :class => "btn btn-default btn-block" %>
        <br/>
        <%= render "devise/shared/links" %>
    </div>
<% end %>

