<!DOCTYPE html>
<html>
<head>
  <title>RankingSystem | <%= @page_title || "Home" %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/nav" %>
<div style="margin-top: 56px; margin-bottom: 50px;" class="container">
  <%= yield %>
</div>

<%= render "shared/notice" %>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Webprojekt von Julia Bracht, Nicolas Burchert, Lennart Giesen und Julius Wessing.</p>
  </div>
</footer>
</body>
</html>
